<!-- @if (article.isPublished){ -->

<section [ngClass]="{ goodArticle: article.likeCount >= 100 }">

  <a [routerLink]="['/article', article.id]">
    <h1 [ngStyle]="{ color: article.likeCount >= 150 ? ' rgb(189, 17, 17)' : 'rgb(83, 83, 83)' }">
      {{ article.title }}
    </h1></a>
    <h2>
      {{ article.isPublished ? "article publier" : "article non publier" }}
    </h2>
    
    <img [src]="article.image" />
    
    <p>{{ article.likeCount }} Likes</p>
    <p>{{ article.content }}</p>

    <!-- <input type="text" [(ngModel)]="article.comment" />

    <p>{{ article.comment }}</p> -->

    <button (click)="togglePublication()">
      Dépublier l'article
    </button>

    <button (click)="addLike()">Like</button>

  </section>
<!-- }

@else {
    <button class="buttonPublier" (click)="togglePublication()">Publier</button>
} -->

